VITE_SOLANA_CLUSTER=mainnet-beta
VITE_SOLANA_RPC_URL=https://api.mainnet-beta.solana.com
VITE_RYP_MINT_ADDRESS=CFPzKkPYqpyfNJp3WDB4dykMemfhwYrV9cgNUy7nsoPD
VITE_RYP_DECIMALS=6
VITE_CRYPTOSEEDS_PROGRAM_ID=FG6PaFpoGXkYsidMpWxTWqVfbGqmtn8z8DK9HdJrMPfL
VITE_HELIUS_API_KEY=
VITE_DEMO_MODE=true
VITE_SEEDBOT_HYPERLIQUID_NETWORK=TESTNET
VITE_SEEDBOT_SIGNED_EXECUTION=false
